@import url(https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Urbanist:wght@400;

600&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #FAFAFA;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко
всем классам содержащим *__container
Например container.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 26px 30px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  cursor: pointer;
  border-radius: 30px;
  background: #FFF;
}

.button._fw {
  width: 100%;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

section {
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
}

.title {
  font-family: Urbanist, sans-serif;
  font-size: 110px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #000;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  height: 0;
  width: 100vw;
  background: #000;
  padding-top: 60px;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  z-index: 2;
  opacity: 0;
  overflow-x: hidden;
  visibility: hidden;
}

.mobile__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 80px;
  gap: 95px;
}

.mobile__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.mobile__link {
  font-family: Urbanist, sans-serif;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  color: #fff;
  cursor: pointer;
}

.mobile__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.mobile__button {
  font-family: Urbanist, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 24px 13px 16px;
  border-radius: 30px;
  cursor: pointer;
}

.mobile .button-light {
  color: #000;
  background: #fff;
}

.mobile .button-dark {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}

.mobile-menu-open {
  height: 100%;
  -webkit-transition: all 0.4s linear 0s;
  transition: all 0.4s linear 0s;
  opacity: 1;
  visibility: visible;
}

.header {
  position: sticky;
  padding: 10px 0;
  z-index: 3;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  background: #000;
  border-radius: 20px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header__link {
  font-family: Urbanist, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
}

.header__button {
  font-family: Urbanist, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #000;
  border: 1px solid #000;
}

.burger {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  z-index: 5;
}

.burger .icon-menu {
  display: none;
}

.logo-color {
  fill: rgba(255, 255, 255, 0.1);
}

body {
  background: #FAFAFA;
}

.hero {
  padding-top: 160px;
}

.hero__title {
  margin-bottom: 60px;
}

.no-webp .hero__title span{
  background: url("../img/home/title-img1.png"); }

.hero__title span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 90px;
  border-radius: 40px;
  position: relative;
  top: 10px;
  -webkit-animation: titleImg 1s linear 0s;
          animation: titleImg 1s linear 0s;
}

.hero__text {
  font-family: Urbanist, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 653px;
  margin-bottom: 80px;
}

.hero__video {
  width: 100%;
  height: 100%;
}

.hero__video video {
  max-width: 1200px;
  width: 100%;
  max-height: 700px;
  border-radius: 30px;
}

@-webkit-keyframes titleImg {
  0% {
    opacity: 0;
    width: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 140px;
  }
}

@keyframes titleImg {
  0% {
    opacity: 0;
    width: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    width: 140px;
  }
}

@media (max-width: 47.99875em) {
  .header__navbar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    display: none;
  }

  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .burger .icon-menu {
    display: block;
    position: relative;
    width: 1.25rem;
    height: 1.125rem;
    cursor: pointer;
  }

  .burger .icon-menu span,
  .burger .icon-menu::before,
  .burger .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .burger .icon-menu::before {
    top: 0;
  }

  .burger .icon-menu::after {
    bottom: 53%;
    width: 50%;
    right: auto;
    left: 0;
  }

  .menu-open .burger .icon-menu span {
    width: 0;
  }

  .menu-open .burger .icon-menu::before,
  .menu-open .burger .icon-menu::after {
    background: #fff;
  }

  .menu-open .burger .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .burger .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 100%;
  }
}

@media (any-hover: hover) {
  .button:hover {
    background: #000;
    color: #fff;
  }
}

.webp .hero__title span{ background: url(../img/home/title-img1.webp); }